body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    color: #333;
}


h1, h2 {
    text-align: center;
    color: #ff4da6;
}


section {
    padding: 20px;
    text-align: center;
}


header {
    background: linear-gradient(90deg, #ec9ec5, #c9a9e0);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}


ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 8px 15px;
    font-weight: bold;
}


table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #ff69b4;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #ffe6f2;
}

tr:hover {
    background-color: #ffccf2;
}


a {
    color: #ff4da6;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #d2008f;
    text-decoration: underline;
}


iframe {
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


footer {
    background-color: #ff69b4;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}


.imagem-linha {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.email {
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #ff69b4;
  margin-top: 20px;
  font-size: 16px;
}
.email a {
  color: #ff69b4;
  text-decoration: none;
}
.email a:hover {
  color: #d2008f;
  text-decoration: underline;
}

